###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> IDEs ###
/.idea/
/.vscode/
*.swp
*.swo
.settings/
.project
.classpath
.factorypath
###< IDEs ###

###> OS ###
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
###< OS ###

###> Node ###
/node_modules/
/npm-debug.log
/yarn-error.log
###< Node ###
